{% extends 'index.html' %}
{% block content %}
<h3>Анализ производственных показателей</h3>
<ul>
<!--    <li><a href="/logistics">Логистика</a></li>-->
<!--    <li><a href="/management">Управление</a></li>-->
<!--    <li><a href="/manufacturing">Производство</a></li>-->
<!--    <li><a href="/quality">Контроль качества</a></li>-->

    <li><a href="">Брак на производстве</a></li>
    <li><a href="">Простой оборудования</a></li>
    <li><a href="">Время задержки и поставок</a></li>
</ul>
{% endblock content %}